<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前端ko双绑和绑定数据+nodeJS启动服务+require加载模块文件+jqueryDOM操作+layuiUI组件+less动态写css+gulp编译less的项目架构</title>
    <link type="text/css" rel="stylesheet" href="/resources/js/libs/layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="/resources/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/resources/css/common.css">
    <link type="text/css" rel="stylesheet" href="/resources/css/index.css">
</head>
<body>
    <div id="header"></div>
    <div id="slider-left"></div>
    <div id="main"></div>
    <!-- <div class="footer" id="footer"></div> -->
</body>
<script src="../resources/js/libs/require.js" data-main="../resources/js/apps/index"></script>
</html>